// Display
.d-none {
    display: none !important;
}

.pk-input-number::-webkit-inner-spin-button,
.pk-input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ri-spin,
.ri-spin::after,
.ri-spin::before {
    animation: spinner 4s infinite linear;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
